.root
{
  -fx-font-size: 10pt;
  -fx-font-family: "Sans";
}

.progress-bar > .track
{
  -fx-background-insets: 0 0 0 0;
  -fx-background-radius: 0 0 0 0;
  -fx-border-insets: 0 0 0 0;
  -fx-padding: 0 0 0 0;
}

.progress-bar > .bar
{
  -fx-background-insets: 0 0 0 0;
  -fx-background-radius: 0 0 0 0;
  -fx-border-insets: 0 0 0 0;
  -fx-padding: 0 0 0 0;
}

.button,
.check-box,
.choice-box,
.color-picker,
.color-picker.split-button,
.combo-box-base,
.container,
.control-buttons-tab,
.menu-button,
.progress-bar,
.radio-button,
.text-field,
.text-area,
.tab,
.tab-down-button,
.tab-header-area,
.tab-pane,
.toggle-button
{
  -fx-background-radius: 0 0 0 0;
  -fx-border-radius: 0 0 0 0;
}

.tabButton {
  -fx-font-size: 8pt;
}

.metaField {
  -fx-font-size: 8pt;
  -fx-font-family: "Monospace";
}

.errorHighlight
{
  -fx-background-color: #ffbbbb;
}

.metadataTable
{
  -fx-font-size: 8pt;
  -fx-font-family: "Monospaced";
}

.attachmentsTable
{
  -fx-font-size: 8pt;
  -fx-font-family: "Monospaced";
}

.itemsTable
{
  -fx-font-size: 8pt;
  -fx-font-family: "Monospaced";
}

.locationsTable
{
  -fx-font-size: 8pt;
  -fx-font-family: "Monospaced";
}
